# agentforum==0.0.5
django==5.0.0
google-search-results==2.4.2
httpx==0.25.2  # the choice of version is limited by python-telegram-bot
langchain==0.0.352
langchainhub==0.1.14
numexpr==2.8.8
openai==1.6.1
pdfplumber==0.10.3  # TODO Oleksandr: remove this dependency ?
promptlayer==0.4.0
pypdf==3.17.3
python-dotenv==1.0.0
python-telegram-bot==20.7
uvicorn==0.25.0
